@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lora:wght@500&family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600&family=Questrial&display=swap');

/* font-family: 'Gloock', serif;
font-family: 'Lora', serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Questrial', sans-serif;
 */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #2e458a;
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 1.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(46, 139, 87);
  color: #ffffff;
  background: #2e8a8a;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ffff99;
  width: 275px;
  heigth: 300px;
  margin: 1rem;
}

.tileTitle {
  margin: 20px 20px;
}

.title {
  color: black;
  font-size: 20px;
}

.tileBody {
  /* text-align: top; */
  /* vertical-align: text-top; */
  width: 200px;
  height: 200px;
  margin: 20px 20px;
}

.tileButton {
  background: #ff7f50;
  padding: 0.1em 0.5em;
}
